/******************/
/* GLOBAL CHANGES */
/******************/
*
{
    /* By default everything will use this font, specific elements will override it though. */
    font-family: 'BookInsanity';

    /* Let us completely handle the padding/margin ourselves. */
    /* This will help keep things consistent across different */
    /* browsers which might have different defaults.          */
    margin: 0;
    padding: 0;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
}

html
{
    /* Avoid everything shifting slightly when the scroll    */
    /* bar appears or disappears as the page length changes. */
    overflow-y: scroll;

    /* Copied from https://homebrewery.naturalcrit.com */
    background-image: url("background.jpg");
}

body
{
    /* I do not want to deal with supporting a variable sized             */
    /* layout, web design is hard enough as is :P                         */
    /* The calulation is the desired content width plus the border width. */
    width: calc(1100px + 60px);

    /* Horizontally center all the content, since we've fixed the width. */
    margin-left: auto;
    margin-right: auto;

    /* Push the content in from the border so they aren't overlapping. */
    /* Magic numbers based on the border image.                        */
    padding: 35px 29px;

    /* Everything in the middle gets stretched to the corners. */
    border-image-repeat: stretch;

    /* Cut out the sections of the image used for the corner border. */
    border-image-slice: 200 200 200 200;

    /* A divisor of the "border-image-slice" dimensions to avoid non-integer scaling. */
    border-image-width: 100px;

    /* Copied from https://homebrewery.naturalcrit.com */
    border-image-source: url("border.png");

    /* Chrome won't render the border without these. */
    border-style: solid;
    border-width: 1px;
}

:root
{
    /* Dark red, based on the PHB. */
    --header-text-color: #58180D;
}

/*****************************/
/* LAPTOP WINDOW SIZE MARKER */
/*****************************/
.laptop-window-size-marker
{
    /* Delete this line to show the element. Don't submit code */
    /* with it visible, it's only supposed to be a dev tool!   */
    visibility: hidden;

    /* Fixed position to simulate my laptop's window height.        */
    /* The window height in Firefox is 654px and 625px in Chrome.   */
    /* The difference is due to the placement of bookmarks bar (on  */
    /* the left of the window in Firefox and on the top in Chrome). */
    position: absolute;
    top: 625px;
    left: 0px;

    /* Draw a thin line across the entire window so that it's clear where */
    /* the window would have ended if viewed on my specific laptop.       */
    height: 0px;
    width: 100%;
    border-top: 1px solid #000000;
}

/************/
/* TOOL TIP */
/************/

/* Based on https://developer.mozilla.org/en-US/docs/Web/CSS/::after */

[data-tooltip-text]
{
    /* This is needed so that the actual tooltip (a pseudo element that uses "position: absolute") will  */
    /* use this element as the parent container block rather than the window body. This is because       */
    /* "position: absolute" elements are positioned relative to their first positioned (i.e. not static) */
    /* ancestor element.                                                                                 */
    /* This will not affect the position of this element compared to using "position: static" because we */
    /* are not setting the left/right/top/bottom properties.                                             */
    position: relative;

    /* Make it obvious that the element has a tooltip if you hover. */
    text-decoration: underline;
    cursor: help;
}

[data-tooltip-text]:hover::after,
[data-tooltip-text]:focus::after
{
    /* Set the tooltip text. */
    content: attr(data-tooltip-text);

    /* Make sure the tooltip doesn't affect positioning of other elements. */
    position: absolute;

    /* Vertically center the tooltip. */
    top: 50%;
    transform: translateY(-50%);

    /* Make the sure tooltip is on top of everything. */
    z-index: 1;

    /* Style. */
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 10px;
    color: #000000;

    /* Reset all the font attributes so the tooltip doesn't inherit whatever the parent has set. */
    /* TODO: Set a specific font? */
    font-size: initial;
    font-weight: initial;
    font-style: initial;

    /* For the multi-line formula tooltips it looks nicer if everything is centered. */
    text-align: center;

    /* Respect any existing whitespace in the string. */
    /* This is required to have multi-line tooltips.  */
    white-space: pre;
}

[data-tooltip-justify-right]:hover::after,
[data-tooltip-justify-right]:focus::after
{
    /* Put the tooltip on the right side of the element. */
    left: calc(100% + 10px);
}

[data-tooltip-justify-left]:hover::after,
[data-tooltip-justify-left]:focus::after
{
    /* Put the tooltip on the left side of the element. */
    right: calc(100% + 10px);
}

/*********/
/* TABLE */
/*********/
table
{
    /* We don't want each table cell to have their own border. */
    border-collapse: collapse;

    /* If we want line breaks we can handle it ourselves. */
    display: inline-table;
}

caption,
figcaption
{
    /* Match the PHB style. */
    font-family: "Mr Eaves Small Caps";
    font-size: 125%;
    color: var(--header-text-color);
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #c9ad6a;
}

/* Zebra-striping the table rows, but *not* the table header. */
tbody > tr:nth-child(odd)
{
    /* Match the PHB style. */
    /* Olive green. */
    background-color: rgb(209, 219,  159);
}

tbody > tr:nth-child(even)
{
    /* Match the PHB style. */
    background-color: transparent;
}

thead
{
    /* Match the PHB style. */
    background-color: transparent;
}

/* Highlight selected table row, but *not* the table header. */
tbody > tr:hover
{
    /* Match the PHB style. */
    /* Light brown. */
    background-color: rgb(205, 175, 133);
}

th
{
    /* Match the PHB style. */
    background-color: transparent;
}

/* Keep table data separated slightly to help readability. */
td,
th
{
    /* Only do half the padding we want on the left/right because if there is   */
    /* another <td> element next to it the padding will essentially be doubled. */
    padding-left: 2.5px;
    padding-right: 2.5px;
}

/* Affect everything that is inside of the table. */
tr *
{
    /* Match the PHB style. */
    /* Michaela doesn't like it as much, too many mixing fonts. */
    /*font-family: "Scaly Sans";*/
}

/* Making sure the edges of the table have some space from the border, for readability. */
td:first-child,
th:first-child
{
    padding-left: 5px;
}

td:last-child,
th:last-child
{
    padding-right: 5px;
}

td
{
    text-align: center;
}

/* This is useful for tables where the header text is expected to be longer  */
/* than the data text and we want it to take up as little space as possible. */
.min-content
{
    /* Ideally this would be "width: min-content" but for some reason  */
    /* that didn't work in Chrome. So instead make the requested width */
    /* much smaller than the content so that the layout is forced to   */
    /* use the smallest possible width that fits the content.          */
    width: 1px;
}

/*********/
/* LISTS */
/*********/
ul,
dd,
dl
{
    /* Indent the list elements. */
    padding-left: 30px;
}

/*********************/
/* DETAILS & SUMMARY */
/*********************/
summary
{
    /* This makes both the summary text *and* marker bigger. */
    font-size: 250%;
}

/* If we don't wrap the summary text in a <span> the marker is colored as well. */
summary > span
{

    /* Match the PHB style. */
    font-family: "Mr Eaves Small Caps";
    color: var(--header-text-color);
    font-weight: bold;
}

/******************************/
/* VERTICAL SPACING CONTAINER */
/******************************/
.vertical-spacing-container > *:not(:first-child)
{
    /* Add some vertical space between all the child elements of the */
    /* container if there is more than 1, to help readability.       */
    margin-top: 10px;
}

/********************************/
/* HORIZONTAL SPACING CONTAINER */
/********************************/
.horizontal-spacing-container > *:not(:first-child)
{
    /* Add some horizontal space between all the child elements of the */
    /* container if there is more than 1, to help readability.         */
    margin-left: 5px;
}

/*********/
/* SHAPE */
/*********/
.circle
{
    height: 10px;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
}

/********************/
/* CHARACTER HEADER */
/********************/
.character-name
{
    /* Match the PHB style. */
    font-family: "Mr Eaves Small Caps";
    font-weight: bold;
    color: var(--header-text-color);
    font-size: 250%;

    /* Separate the name from the health bar. */
    margin-right: 10px;

    /* Separate the name from the headshot picture. */
    margin-left: 10px;
}

.character-head-shot-picture
{
    /* Make the picture a circle. */
    border-radius: 50%;

    /* Set the width and height the same so that we get a circle. */
    width: 75px;
    height: 75px;
}

.character-level
{
    /* Push it as far to the top-right as possible. */
    margin-left: auto;
    margin-bottom: auto;
}

/*******************/
/* HAS INSPIRATION */
/*******************/
.has-inspiration-container
{
    width: 100%;
}

.has-inspiration-symbol
{
    text-align: center;

    /* Scaling up an actual checkbox element in Firefox  */
    /* looks really blurry. So instead we use a checkbox */
    /* character and scale up the vector font.           */
    font-size: 300%;
}

/*******************/
/* MISC ATTRIBUTES */
/*******************/
.misc-attribute-list
{
    /* Make it the same width as the saving throws table. */
    width: 100%;
}

.misc-attribute-header
{
    text-align: left;
}

.misc-attribute-value
{
    text-align: right;
}

/***********************/
/* PHYSICAL ATTRIBUTES */
/***********************/
.physical-attributes-list
{
    /* Make it take up the whole width so that the sections will be the same width */
    /* and have their borders be be vertically aligned.                            */
    width: 100%;
}

.physical-attribute-name
{
    text-align: left;
}

.physical-attribute-value
{
    text-align: right;
}

.physical-attribute-unit
{
    text-align: left;
}

/**************/
/* HEALTH BAR */
/**************/
.health-bar
{
    border: 1px solid #000000;
    text-align: center;
    width: 200px;
    font-size: 125%;

    /* Push the edges of the border away from the text, helps readability. */
    padding: 5px 0px;
}

/************/
/* HIT DICE */
/************/
.hit-die-size
{

}

.hit-die-roll-mod
{
    /* This is the first column of the table and so has "padding-left: 5px" automatically */
    /* applied, so apply the same padding on the other side so things are still centered. */
    /* This makes it look symmetrical since the table cell has a border on the left side  */
    /* (from the table border) and the right side (from the hit die amount).              */
    padding-right: 5px;
}

.hit-die-amount
{
    /* This is the last column of the table and so has "padding-right: 5px" automatically */
    /* applied, so apply the same padding on the other side so things are still centered. */
    padding-left: 5px;

    /* Outline the "amount" bar. We only have to apply the left border because this */
    /* is the last column of the table so the table border covers the right side.   */
    border-left: 1px solid #000;
}

/*********/
/* STATS */
/*********/
.stats-container
{
    display: flex;
    justify-content: space-evenly;
}

.stat
{
    /* Center all the text in the child elements. */
    text-align: center;

    /* Magic number that looks good with the current data and layout. */
    width: 100px;
}

.stat-name-and-modifier
{
    /* Visible border to group the name and modifier. */
    border: 1px solid #000000;
    border-radius: 5px;

    width: 100%;
}

.stat-name
{
}

.stat-modifier
{
    /* Stat modifier is the most important number. */
    font-size: 150%;
}

.stat-value
{
    /* Stat value is the used less often, no need to draw attention to it. */
    font-size: 75%;

    /* Center horizontally. */
    margin-left: auto;
    margin-right: auto;

    /* Stat value is in its own little group. */
    border: 1px solid #000000;
    border-radius: 0px 0px 5px 5px;

    /* Group is smaller that the name + modifier group. */
    width: 50%;

    /* This value is the width of the border around the name + modifier */
    /* group so that we don't have two borders next to each other.      */
    margin-top: -1px;
}

/**********/
/* SKILLS */
/**********/
.skill-stat
{
    font-size: 75%;
}

.skill-name
{
}

.skill-modifier
{
    text-align: right;
}

/*****************/
/* SAVING THROWS */
/*****************/
.saving-throws-list
{
    /* Make it take up the whole width so that the table caption has room to be left-aligned */
    /* since the caption (i.e. "Saving Throws") is wider than the actual table content.      */
    width: 100%;
}

.saving-throw-name
{
    text-align: left;
}

.saving-throw
{
    text-align: right;
}

/*********************/
/* CHARACTER OPTIONS */
/*********************/
.rest-options-list,
.combat-options-list,
.features-list,
.bio-section,
.external-links
{
    /* Make it take up the whole width so that the sections will be the same width */
    /* and have their borders be be vertically aligned.                            */
    width: 100%;
}

.bio-section,
.bio-section-picture
{
    /* Magic number that looks good with the current data and layout. */
    width: 350px;
}

/* The flexbox is currently setup to have 3 elements per row so apply */
/* this to everything *except* for the first row.                     */
.bio-section:nth-child(n+4),
.bio-section-picture:nth-child(n+4)
{
    /* This is an extra magic number because it's the manually measured  */
    /* horizontal pixel distance between elements in the flex box and it */
    /* looks good if the vertical distance is the same.                  */
    margin-top: 26px;
}

.bio-section-picture
{
    /* Keep the right aspect ration for the fixed width. */
    height: auto;
}

/* Magic numbers that looks good with the current data and layout. */
.features-list       { max-width: 450px; }
.combat-options-list { max-width: 325px; }
.rest-options        { max-width: 275px; }

/*****************/
/* PROFICIENCIES */
/*****************/
.proficiencies
{
    /* Make it take up the whole width so that the sections will be the same width */
    /* and have their borders be be vertically aligned.                            */
    width: 100%;
}

/***************/
/* SPELL SLOTS */
/***************/
.spell-slot-level
{
    /* This is the first column of the table and so has "padding-left: 5px" automatically */
    /* applied, so apply the same padding on the other side so things are still centered. */
    /* This makes it look symmetrical since the table cell has a border on the left side  */
    /* (from the table border) and the right side (from the spell slot amount).           */
    padding-right: 5px;
}

.spell-slot-amount
{
    /* This is the last column of the table and so has "padding-right: 5px" automatically */
    /* applied, so apply the same padding on the other side so things are still centered. */
    padding-left: 5px;

    /* Outline the "amount" bar. We only have to apply the left border because this */
    /* is the last column of the table so the table border covers the right side.   */
    border-left: 1px solid #000;
}

/**************/
/* SPELL LIST */
/**************/
.spells-list
{
    width: 100%;
}

.spell-icon
{
    /* The height is picked based on the table row height given   */
    /* our current font and text size. It is 2px smaller than the */
    /* row height without the icon so we get maximum icon size    */
    /* while not making everything else taller as well.           */
    /* The width is picked so that the icons are square.          */
    width: 20px;
    height: 20px;
}

.spell-icons-container
{
    /* Make the container take up exactly as much space as needed. */
    width: max-content;

    /* Since we're displaying the images inline they get positioned */
    /* in an unexpected way. This removes the strange padding       */
    /* https://stackoverflow.com/a/7774854                          */
    font-size: 0;
}

/* Magic numbers that looks good with the current data and layout. */
.spell-name         { width: 300px; }
.spell-casting-time { width: 100px; }
.spell-range        { width: 100px; }
.spell-damage       { width: 100px; }
.spell-type         { width: 100px; }
.spell-components   { width: 100px; }
.spell-duration     { width: 100px; }

/***********/
/* ATTACKS */
/***********/
.attack-list,
.saving-throw-attack-list
{
    /* Magic number that looks good with the current data and layout. */
    width: 700px;
}

/*************/
/* RESOURCES */
/*************/
.resource-name
{
    /* This is the first column of the table and so has "padding-left: 5px" automatically */
    /* applied, so apply the same padding on the other side so things are still centered. */
    /* This makes it look symmetrical since the table cell has a border on the left side  */
    /* (from the table border) and the right side (from the resource count amount).       */
    padding-right: 5px;
}

.resource-count
{
    /* Outline the "amount" bar. */
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

/*************/
/* INVENTORY */
/*************/
.inventory-section
{
    width: 100%;
}

.inventory-section-footer
{
    display: flex;

    /* Push the total cost to the far left and the total weight to the far right. */
    justify-content: space-between;
}

/* Magic numbers that looks good with the current data and layout. */
.inventory-entry-name        { width: 200px; }
.inventory-entry-amount      { width:  60px; }
.inventory-entry-weight      { width:  60px; }
.inventory-entry-cost        { width:  60px; }
.inventory-entry-description { width: 600px; text-align: left; }

/*******************/
/* FLEX CONTAINERS */
/*******************/
.header-container
{
    display: flex;
}

.name-and-health-container
{
    display: flex;
    align-items: center;
}

.above-fold-container
{
    display: flex;
    justify-content: space-between;

    /* Don't vertically stretch the elements to take up the full height.    */
    /* For child elements like tables it made things look, well, stretched. */
    align-items: start;
}

.resources-hit-dice-spell-slots-container
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    /* Don't vertically stretch the elements to take up the full height.    */
    /* For child elements like tables it made things look, well, stretched. */
    align-items: start;
}

.vertical-flex-horizontal-center
{
    /* Stack the elements vertically. */
    display: flex;
    flex-direction: column;

    /* Horizontal centering. */
    align-items: center;
}

.all-options-container
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inventory-container,
.spells-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-section-list
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

/********/
/* FONT */
/********/

/* Found at
 *     https://www.reddit.com/r/UnearthedArcana/comments/3vpphx/5e_font_package_embeddable_cc_edition/
 *
 * Explanation of where each font is used
 *     https://www.reddit.com/r/DnD/comments/2jwsx2/dnd_and_other_script_font_collection/
 *
 * For some reason "Mr.EavesSmallCaps.otf" worked in Chrome but not Firefox.
 * Converting the font file at this website fixed it magically.
 *     https://onlinefontconverter.com/
 */
@font-face { font-family: "BookInsanity"       ; src: url("Bookinsanity.otf"       ); } /* General text.  */
@font-face { font-family: "Mr Eaves Small Caps"; src: url("Mr Eaves Small Caps.otf"); } /* Headers.       */
@font-face { font-family: "Scaly Sans"         ; src: url("Scaly Sans.otf"         ); } /* Tables.        */
@font-face { font-family: "Scaly Sans Caps"    ; src: url("Scaly Sans Caps.otf"    ); } /* Table headers. */

